.wrapper {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.wrapper > * {
    max-width: 70%;

}

@media (max-width: 740px) {
    .wrapper > div {
        max-width: none;

    }

    .wrapper > div {
        flex-basis: 100%;

    }

    .wrapper > div:last-child {
        flex-basis: 40%;

    }
}