.swiperOuterWrapper {
  margin: var(--large-pad) 0;
}
.swiperWrapper {
  height: 40dvh;
  backdrop-filter: var(--smooth-backdrop);
  padding: var(--small-pad);
}

.swiperSlide {
  width: fit-content;
}

.swiperSlide img {
  width: auto;
}

.swiperSlide img:hover {
  box-shadow: var(--shadow-hard);
}
