.swiperWrapper {
    height: 40dvh;
    backdrop-filter: var(--smooth-backdrop);
    padding: var(--small-pad); 
    margin: var(--small-pad) 0;
    margin-top: 6rem;
    
}

.swiperSlide {
    width: fit-content;
    
}

.swiperSlide img {
    width: auto;

}