.button {
    color: var(--body);
    border: none; 
    border-radius: var(--border-radius); 
    font-size: var(--med-font);
    z-index: 1;
    font-family: 'Paytone One', monospace;
    font-weight: bold;
    object-fit: cover;
    background-size: cover;
    flex: 40%; 
    margin: var(--small-pad); 
    display: flex; 
    gap: var(--small-pad); 
    justify-content: center;
    align-items: center;

}

.emphasize {
    font-size: var(--large-font);

}

.button:nth-child(1n) {
    background-color: var(--contrast);

}
  
.button:nth-child(2n) {
    background-color: var(--contrast); 

}

.button:nth-child(3n) {
    background-color: var(--background); 

}