.button {
    background-color: var(--secondary);
    color: var(--white);
    border: none; 
    border-radius: 1rem; 
    font-size: 1.5rem;
    box-shadow: 0 0 0.25rem 0.15rem var(--contrast-one);
    z-index: 1;
    font-family: "Paytone One", monospace;
    object-fit: cover;
    background-size: contain;
    flex: 40%; 
    margin: 1rem; 
    max-width: 40rem;

}
