.button {
    background-color: var(--secondary);
    color: var(--secondary);
    border: none; 
    border-radius: 1rem; 
    width: 100%;
    font-size: 1.75rem;
    box-shadow: 0 0 0.25rem 0.15rem var(--contrast-one);
    z-index: 1;
    font-family: "Paytone One", monospace;
    object-fit: cover;
    background-size: contain;
    
}
