.wrapper {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    max-width: var(--large-width);
    
}

@media (max-width: 740px) {
    .wrapper {
        flex-wrap: wrap;
        height: 30vh;
        
    }

  }