.wrapper {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    max-width: 1000px;
    
}

@media (max-width: 740px) {
    .wrapper {
        flex-wrap: wrap;
        max-height: max-content;
        height: 30vh;
        
    }

  }