.wrapper {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
    max-height: 20dvh;
    max-width: 1000px;
    
}

@media (max-width: 740px) {
    .wrapper {
        flex-wrap: wrap;
        max-height: max-content;
        
    }

  }