.wrapper {
  position: fixed; 
  top: 0;
  height: 100vh;
  width: 100dvw;
  background-color: var(--secondary);
  z-index: 20;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.header {
  height: 6em;

}

.imageWrapper img {
  margin: 1rem; 
  width: calc(100% - 2rem);
  max-height: calc(60dvh - 2rem);
  height: inherit;

}

.bottom {
  margin: 1rem;

}

.header, .bottom {
  max-width: 700px;
  padding: 0 calc(2.5dvw + 1rem); 
  width: calc(100dvw - 2 * 2.5dvw - 2 * 1rem);
  justify-content: space-between;
  align-items: center;
  display: flex; 
  flex-direction: row;

}

.controls {
  display: flex; 
  flex-direction: row;
  gap: 1rem; 
  align-items: center;

}

.info {
  width: 50dvw;

}

.info > p {
  max-width: 40dvw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.arrow > i {
  font-size: 5rem;

}