.searchWrapper {
  min-height: calc(100dvh - 6rem);
  padding-top: 6rem;
  max-width: var(--large-width);
  margin: var(--small-pad) auto;
  width: calc(100% - 4 * var(--small-pad));
}

.searchArea {
  transition: all 0.6s ease-in-out;
}

.searchBox {
  box-sizing: border-box;
  width: 100%;
  padding: var(--small-pad);
  background-color: var(--background);
  border-radius: var(--small-pad);
  font-size: var(--med-font);
  outline: none;
  box-shadow: var(--shadow-soft);
  color: var(--body);
}

.searchBox:focus {
  background-color: var(--contrast);
}

.searchResult,
.noResults {
  box-sizing: border-box;
  backdrop-filter: var(--smooth-backdrop);
  margin: var(--large-pad) 0;
  padding: var(--small-pad);
  border-radius: var(--border-radius);
  width: 100%;
  max-width: var(--large-width);
}
.searchResult {
  min-height: 20vh;
}

.noResults {
  text-align: center;
}

.searchArea,
.searchResults,
.searchWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--med-pad);
}
