.wrapper {
    display: flex; 
    flex-direction: row;
    padding: 1rem; 
    height: 5dvh;    
    gap: 1rem; 

}

.wrapper > a {
    height: 100%;

}

.wrapper img {
    width: auto;
    border-radius: .5rem;

}

