.divider {
    margin-left: var(--small-pad);
    margin-right: calc(var(--med-pad) / 2);
    width: 5%;
    max-width: 5px;
    border-radius: var(--small-pad);
    background-color: var(--accent);

} 

.wrapper {
    display: flex;
    flex-direction: row;

}

.wrapper > svg {
    color: var(--contrast);

}
