.wrapper {
  position: fixed; 
  top: 0;
  height: 100dvh;
  width: 100%;
  background-color: var(--background);
  z-index: 20;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.header {
  height: 6em;

}

.imageWrapper img {
  width: 100%;
  max-height: calc(60dvh);
  height: auto;
  box-shadow: var(--shadow-hard);
  
}

.bottom {
  margin: var(--small-pad) 0;

}

.header, .bottom {
  max-width: var(--large-width);
  padding: 0 calc(2.5% + var(--small-pad)); 
  width: calc(100% - 2 * 2.5% - 2 * var(--small-pad));
  justify-content: space-between;
  align-items: center;
  display: flex; 
  flex-direction: row;

}

.controls {
  display: flex; 
  flex-direction: row;
  gap: var(--small-pad); 
  align-items: center;

}

.info {
  width: 50%;

}

.info > p {
  max-width: var(--small-width);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.arrow > svg {
  font-size: var(--jd-font);
  color: var(--contrast); 

}