.wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.paginatedWrapper {
    display: flex; 
    justify-content: center;
    gap: 3rem;
    margin-bottom: 3rem;
    
}

.paginatedButton {
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    color: var(--body);
    background-color: var(--accent);
    width: 7rem;

}

.paginatedButton:disabled {
    background-color: var(--neutral);

}