.wrapper > div > * {
  margin: var(--small-pad) 0;
}

.wrapper img {
  max-height: 50vh;
  width: auto;
  display: block;
  max-width: 100%;
}

.wrapper ul {
  margin: 1rem;
}

.wrapper > div > figure {
  display: flex;
  gap: var(--small-pad);
  backdrop-filter: contrast(0.8);
  border-radius: var(--small-pad);
  width: fit-content;
  margin: var(--large-pad) auto;
  overflow: hidden;
  box-shadow: var(--shadow-hard);
}

@media (max-width: 740px) {
  .wrapper > div > figure {
    flex-direction: column;
  }
}

.wrapper > div > figure > figcaption {
  margin: 1rem;
}

.wrapper h2 {
  margin-top: var(--large-pad);
}

.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
  margin-top: var(--med-pad);
}
