.wrapper {
    width: calc(100% - 2 * 1rem); 
    max-width: 1000px;
    padding: 1rem; 
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 6rem;

}

.wrapper > div > * {
    padding: .25rem; 

}

/* TODO: Target this somehow */
.wrapper img {
    max-height: 50vh;
    width: auto;

}

.wrapper ul {
    margin: 1rem;

}

.wrapper > div > div:has(img, div) {
    margin: auto;
    margin-top: 3rem; 
    margin-bottom: 3rem;
    padding: 0 0 2rem 0;
    border-radius: 1rem;
    backdrop-filter: contrast(0.8);
    width: fit-content;
    box-shadow: 0.5rem 0.55rem 0rem 0.1rem var(--contrast-one);
    border: solid var(--contrast-one);
    overflow: hidden;
}

.wrapper > div > div:has(img, div) > div {
    margin: 1rem;

}