.wrapper {
  display: flex;
  gap: 3rem;
  flex-direction: row;
  align-items: center;
  backdrop-filter: contrast(0.8);
  padding: var(--small-pad);
  border-radius: 1rem;
  overflow: hidden;
  height: 20rem;
  justify-content: space-between;
}

.wrapper:hover {
  cursor: pointer;
  backdrop-filter: contrast(0.6);
  
}

.wrapper * {
  flex-basis: 50%;
}

.wrapper img {
  object-fit: contain;
  width: 100%;
  aspect-ratio: 16/9;
}

@media (max-width: 740px) {
  .wrapper {
    flex-direction: column;
    gap: 1rem;
    height: 30rem;
    align-items: flex-start;
  }
}
