.progressBarContainer {
    width: 10rem;
    height: 1rem;
    border: solid .1rem var(--primary);
    border-radius: .5rem; 
    overflow: hidden;
    margin: 1rem 0 1rem 0;
    
}

.progressBar {
    height: 100%;
    background-color: var(--accent-one);
    
}
