.wrapper {
    display: flex; 
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    padding: 1rem; 
    
}