.wrapper {
    display: flex; 
    flex-direction: column;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    padding: 1rem; 
    border-radius: .5rem;
    align-items: center;

}

.wrapper > p {
    margin: 1rem 0;
}