.wrapper {
    position: fixed; 
    padding: 1rem; 
    bottom: calc(2.5% + 1rem); 
    right: calc(2.5% + 1rem); 
    background-color: var(--background);
    border-radius: 1rem;
    text-align: center;
    z-index: 15;
    width: 2.5rem;
    height: 2.5rem;

}

.wrapper > svg {
    color: var(--neutral); 

}

.content {
    position: absolute;
    top: calc(100vh + 3rem); 

}