.wrapper {
    position: fixed; 
    padding: 1rem; 
    bottom: calc(2.5dvw + 1rem); 
    right: calc(2.5dvw + 1rem); 
    background-color: var(--secondary);
    border-radius: 1rem;
    text-align: center;
    z-index: 15;
    box-shadow: 0 0 0.25rem 0.15rem var(--contrast-one);
    width: 2.5rem;
    height: 2.5rem;

}

.top {
    position: absolute; 
    top: 0; 
    height: 1vh;

}

.content {
    position: absolute;
    top: calc(100vh - 6em); 
    height: 6em; 

}