/* Colors */
:root {
  color-scheme: light dark;
  
  --white: #F4F1E3;
  --black: #111927;
  --dark: #59408c;
  --bright: #B0C9FF;  

}

@media (prefers-color-scheme: light) {
  :root {
    /* Text */
    --primary: var(--black);
    /* Background */
    --secondary: var(--white); 
    /* Contrast One: h1 dots */
    --contrast-one: var(--dark);
    /* Contrast two: h2  */
    --contrast-two: var(--dark); 
    /* Contrast three: h3 special-text */
    --contrast-three: var(--dark); 
    /* Acccent One: shadow */
    --accent-one: var(--bright);
    /* Accent Two: links */
    --accent-two: var(--bright);
    /* Accent Three */
    --accent-three: var(--bright); 

  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Text */
    --primary: var(--white);
    /* Background */
    --secondary: var(--black); 
    /* Contrast One: h1 dots */
    --contrast-one: var(--bright);
    /* Contrast two: h2  */
    --contrast-two: var(--bright); 
    /* Contrast three: h3 special-text */
    --contrast-three: var(--bright); 
    /* Acccent One: shadow */
    --accent-one: var(--dark);
    /* Accent Two: links */
    --accent-two: var(--dark);
    /* Accent Three */
    --accent-three: var(--dark); 

  }
}

body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 1em;
  color: var(--primary);
  background-color: var(--secondary);

}

body * {
  text-decoration-thickness: .15rem;

}

img {
  max-height: 100%;

}

h1 {
  color: var(--contrast-one);

}

h2 {
  color: var(--contrast-two);
}

h3 {
  color: var(--contrast-three);
}

img {
  max-width: 100%;
}

a {
  text-decoration-color: var(--contrast-one);
  color: inherit; 

}