.wrapper {
    width: 100%;
    display: flex; 
    flex-direction: column;
    gap: 1.5rem; 

}

.wrapper img {
    width: 75px;
    height: auto;
    border-radius: var(--border-radius);

}

/* Workaround for skilllevel to only take up a small part of the screen */
.wrapper > div > div:first-child {
    width: 100%;

}