.wrapper {
    display: flex; 
    flex-direction: row;
    height: 10vh;
    gap: 1rem; 
    align-items: center;
    padding: 0 1rem; 

}

.wrapper img {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid .1rem var(--primary);
    
}