.wrapper {
    display: flex; 
    flex-direction: row;
    height: 10vh;
    gap: var(--small-pad); 
    align-items: center;
    padding: 0 var(--small-pad); 

}

.wrapper img {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-medium);
    border: solid .1rem var(--neutral);
    
}