.wrapper {
    backdrop-filter: contrast(0.8) blur(1rem);
    padding: 1rem; 
    border-radius: .5rem;
    width: 90%;
    max-width: 1000px;
    box-shadow: 0 0 0.5rem 0.1rem var(--contrast-one);
    margin: 5rem auto; 

}  

@media (max-width: 740px) {
    .wrapper {
        width: calc(100% - 2rem);
        margin-left: 0; 
        margin-right: 0;
        border-radius: 0;
        

    }
}