.wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 1rem; 
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    
}  

.wrapper > div {
    backdrop-filter: contrast(0.8);
    padding: 1rem; 
    border-radius: 1rem;
    width: 90%;
    max-width: 1000px;

}

.wrapper > div {
    box-shadow: 0 0 0.75rem 0.15rem var(--contrast-one);

}

.wrapper > img {
    filter: grayscale(1) drop-shadow(.5rem .5rem 0.2rem var(--accent-one));

}

@media (max-width: 740px) {
    .wrapper {
      flex-direction: column;
  
    }
}