.wrapper {
    backdrop-filter: var(--smooth-backdrop);
    padding: var(--small-pad); 
    border-radius: var(--border-radius);
    width: 90%;
    max-width: var(--max-width);
    margin: var(--large-pad) auto; 

}  